# Database
POSTGRES_USER=user_aqui
POSTGRES_PASSWORD=senha_aqui
POSTGRES_DB=game_tracker

# API Keys (quando você tiver)
STEAM_API_KEY=sua_chave_aqui
RAKUTEN_API_KEY=sua_chave_aqui

# Configurações
BACKEND_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000